.Column {
  margin: 0 12.5px;
  width: 250px;
  flex-shrink: 0;
  background-color: #ECEEEE;
  box-shadow: 0 0 40px rgba(0, 0, 0, .3);
  border-radius: 5px;
}

.Column--transparent {
  background-color: transparent;
  color: rgba(255, 255, 255, .8);
}

.Column__taskList {
  padding: 0 5px;
  max-height: 80vh;
  overflow: scroll;
}

.Column__title {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, .5);
  height: 30px;
  border-radius: 5px 5px 0 0;
}