.AddTaskButton {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
  align-items: center;
  cursor: pointer;
  transition: background-color .2s;
  border-radius: 0 0 5px 5px;
  animation: fade-in .3s linear;
}

.AddTaskButton--list {
  border-radius: 5px;
  background-color: rgba(50, 50, 50, .5);
  padding: 0 5px 5px;
}

.AddTaskButton--list .AddTaskButton__plus {
  line-height: .8em;
}

.AddTaskButton:hover {
  background-color: darkgray;
}

.AddTaskButton--list:hover {
  background-color: rgba(50, 50, 50, .8);
}

.AddTaskButton__text {
  line-height: 1em;
  margin: 10px 5px 0;
}

.AddTaskButton:hover .AddTaskButton__text {
  text-decoration: underline;
}

.AddTaskButton__plus {
  background: transparent;
  border: none;
  font-size: 2rem;
  padding: 0 5px;
  opacity: .7;
  transition: opacity .2s linear;
}

.AddTaskButton:hover .AddTaskButton__plus {
  opacity: 1;
}