.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, .5);
  color: white;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Header__title {
  margin: 0 15px;
  font-family: 'Gugi', cursive;
  opacity: .7;
}