* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 15px 0;
  min-height: 100vh;
}

body {
  background-color: #ECEEEE;
  background-image: url('https://images.unsplash.com/photo-1524654458049-e36be0721fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}